body{
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem; /* Replace with your desired font-size */
    font-weight: 400; /* Replace with your desired font-weight */
    line-height: 1.5; /* Replace with your desired line-height */
    color: #212529; /* Replace with your desired text color */
    text-align: left; /* Replace with your desired text alignment */
    background-color: #fff; /* Replace with your desired background color */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.c1{
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.c1-text{
    text-align: center;
}

.auth-names{
    font-style: italic;
    margin-bottom: 40;
}


@media (min-width: 576px){
    .c1{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .c1{
        max-width: 720px;
    }
}

@media (min-width: 992px)
{
    .c1{
        max-width: 960px;
    }
    
}

.example-title{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 35;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.3rem + .6vw);
}

/* .example-c{

} */

.my-btn{
    padding: 0.375rem 0.75rem;
    color: #212529;
    text-decoration: none;
    background-color: white;
    border: 1px solid #dee2e6;
    cursor: pointer;
    font-size: 15;
    border-radius: 30px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s; /* Add transition for background and text color */
}

.my-btn:hover{
    padding: 0.375rem 0.75rem;
    color: white;
    text-decoration: none;
    background-color: gray;
    border: 1px solid #dee2e6;
    cursor: pointer;
    font-size: 18;
    border-radius: 30px;
    padding: 15px;
}

.vid{
    justify-self: center ;
    /* width: 300;
    height: 169; */
    width: 32%;
    height: 100%;
}

.btn-c{
    display: flex;
    margin-bottom: 45;
    padding-bottom: 25;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222, 226, 230);
    
}

.vid-c{
    display: flex;
    justify-content: space-between;
}

.vid-labels{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222,226,230);
}

.label{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 25px;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 0px 10px 0px #000;
    max-width: 1010px;
  }

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

p.no-copy {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    margin-top: 12px;
}

.vid-iframe{
    width: 100%;
    height: auto;
}

@media (max-width: 660px){
    .vid-c{
        flex-direction: column;
        align-items: center;
    }

    .vid{
        width: 80%;
        height: auto;
    }
}
